:root{
    --backgroundblue: #ebfbff;
}
*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 100vh;

}

section svg{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: var(--backgroundblue);

}
.navbar{
    background-color: var(--backgroundblue);
    height: auto;
}
.navbar > .navbar-brand > ul > a{
    color: black;
    text-decoration: none;
    margin-left: 3.125em;
    font-weight: 500;
}

.show-links{
    transition: 1s;
}

.navbar > .navbar-brand > ul > a:hover{
    color: red;
}
.rotate-logo{
    transition: 1s;
}
.rotate-logo:hover{
    transform: rotate(720deg);
    transition: 3s;
}




.caurosel-container{
    width: 100%;
    position: absolute;
    height: auto;
    z-index: 0;
}


@media screen and (max-width :900px) {
    .toggle-menu{
        display: block;
    }
    .navbar-brand ul a{
        display: none;
    }
    .show-links {
        height: 10rem;
        position: absolute;
        background-color: var(--backgroundblue);
        width: 48%;
        top: 5rem;
        border-radius: 10px;
    }
    .show-links a{
        display: block !important;
    }
    .toggler{
        transform: rotate(0deg);
        transition: 1s;
    }
    /* .toggler:hover{
        transform: rotate(180deg);
        transition: 1s;
    } */
}