:root{
    --backgroundblue: #ebfbff;
}
*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 100vh;

}

section svg{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: var(--backgroundblue);

}
.navbar{
    background-color: var(--backgroundblue);
    height: auto;
}
.navbar > .navbar-brand > ul > a{
    color: black;
    text-decoration: none;
    margin-left: 3.125em;
    font-weight: 500;
}

.show-links{
    transition: 1s;
}

.navbar > .navbar-brand > ul > a:hover{
    color: red;
}
.rotate-logo{
    transition: 1s;
}
.rotate-logo:hover{
    transform: rotate(720deg);
    transition: 3s;
}

.toggler{
    display: none;
}


.caurosel-container{
    width: 100%;
    position: absolute;
    height: auto;;
}
/* 
section:first-child{
    position: relative;
} */

.text-content{
    position: absolute;
    margin-left: 150px;
    width: 60%;
}
.text-content > p ,.text-content > h1 ,.text-content > button {
    margin-top: 3rem;
}
.text-content > h1{
    margin-top: 8rem;
    font-size: 4rem;
}
.text-content > p{
    font-size: 1.5rem;
}



@media screen and (max-width :900px) {
    .toggler{
        display: block;
    }
    .navbar-brand ul a{
        display: none;
    }
    .show-links {
        height: 13rem;
        position: absolute;
        background-color: var(--backgroundblue);
        width: 100%;
        top: 5rem;
        left: 0;
        border-radius: 10px;
    }
    .show-links a{
        display: block !important;
        width: 100%;
        height: auto;
        margin-bottom: 6px;
    }

    .toggler{
        transform: rotate(0deg);
        transition: 1s;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }
    /* .toggler:hover{
        transform: rotate(180deg);
        transition: 1s;
    } */
}